* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    margin-bottom: auto;
}

div {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px black;

}

.header {
    text-align: center;
    line-height: 50px;
    height: 10%;
    width: 100%;
    border: 0 solid #FFFFFF;
    background-color: #829985;
    word-spacing: 40px;
}
a {
    color: black;
}

a:visited{
    color: #666666;
}
.section-photo {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 30px 35px;
    border-bottom: 10px solid #d7d1c9;
}

.TA {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: black;
    vertical-align: center;
    padding: 80px;
}

.photo {
    border-radius: 1000px;
    border: 3px solid rosybrown;
    box-shadow: 0 0 7px #666;
    display: block;
    text-align: center;
}

.h {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: black;
    vertical-align: center;
}

.section-contact{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 30px 35px;
    border-bottom: 1px solid #672f2f
}

.contacts-text {
    line-height: 30px;
    font-family: "Times New Roman", serif;
}

.section-skills {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 30px 35px;
    border-bottom: 5px solid #d7d1c9;
}

.code-text{
    line-height: 20px;
    font-family: "Times New Roman", serif;
}

.skills-text{
    line-height: 40px
}

.section-experience {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 30px 35px;
    border-bottom: 5px solid #d7d1c9;
}

.section-education {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 30px 35px;
    border-bottom: 5px solid #d7d1c9;
}

.footer {
    display: flex;
    justify-content:space-around;
    line-height: 50px;
    height: 50%;
    width: 100%;
    border: 0 solid #FFFFFF;
    background-color: #829985;

}

.footer-logo {
    width: 50px;
    height: 50px;

}
@media (max-width: 768px) {
    .section-photo {
        flex-direction: column;
        align-items: center;
        width: 100%;

    }
    .section-education {

        flex-direction: column;
        align-items: center;
        width: 100%;

    }
    .section-skills {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .section-contact {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .section-experience {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .header {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .footer {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

